.aside-menu {
  padding: 0px;
  width: 200px;
  background-color: white;
  border-right: 2px solid #696969;
  position: relative;
}

.aside-div {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 100px;
}

.aside-link,
.aside-link:focus,
.aside-link:active {
  padding: 15px;
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: default;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.aside-link:focus,
.aside-link:active {
  color: black;
}

.aside-link:hover {
  background-color: orange;
  color: black;
}

.aside-active {
  background-color: orange;
  color: black;
}
