.meals-container {
  margin: 50px;
  text-align: center;
}

.meals-table {
  column-width: auto;
  text-align: center;
  margin: 0 auto;
  border: 1px solid;
  width: auto;
  border-collapse: collapse;
}

.meals-table th,
.meals-table tr {
  font-weight: normal;
  padding: 15px;
  border-bottom: 1px solid;
  border-collapse: collapse;
}

.meals-table th {
  border-right: 1px solid;
  border-collapse: collapse;
}

.header-row th {
  font-weight: bold;
}

.meals-table .font-weight-b {
  font-weight: bold;
}
