.meals-container {
  margin: 50px;
  text-align: center;
}

.meals-table {
  column-width: auto;
  text-align: center;
  margin: 0 auto;
  width: auto;
  border-collapse: collapse;
  border-radius: 1em;
}

.meals-table tr,
.meals-table td {
  font-weight: normal;
  padding: 15px;
}

.header-row th {
  font-weight: bold;
}

.meals-table .font-weight-b {
  font-weight: bold;
}
