.account-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 50px;
}

.grid-input {
  width: 180px;
  height: 30px;
}

.first-row {
  grid-row: 1;
}

.f-column {
  grid-column: 1;
}

.s-column {
  grid-column: 2;
}

.second-row {
  grid-row: 2;
}

.third-row {
  grid-row: 3;
}

.fourth-row {
  grid-row: 4;
}
