.about-us-container {
  margin-top: 30px;
}

.about-us-container a {
  width: 230px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 80px;
}

.about-us-container h1 {
  font-family: "Teko", sans-serif;
  font-size: 40px;
  padding-bottom: 20px;
  border-bottom: 3px solid greenyellow;
}

.about-us-container p {
  width: 70%;
  text-align: center;
}

.about-us-button {
  background-color: greenyellow;
  color: black;
}
