.content-wrapper {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
}

.button {
  border-radius: 5px;
  height: auto;
  width: 100px;
  font-size: medium;
  color: white;
  transition: background-color 0.5s ease-out;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 10px;
}

.button:hover {
  background-color: #696969;
  transition: background-color 0.5s ease-out;
}

.add-button {
  background-color: green;
}

.cancel-button {
  background-color: red;
}

.modal-header {
  position: relative;
  background-color: #f5f5f0;
  width: 90%;
  font-size: large;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ebebe0;
}

.modal-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.modal-row {
  margin-top: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-input {
  border-radius: 5px;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

.modal-label {
  width: 100%;
}
