.content-wrapper {
  margin-top: 60px;
  min-height: 1000px;
  display: flex;
}

.center-div {
  display: grid;
  place-items: center;
}

.button {
  border-radius: 5px;
  border-width: 0px;
  height: auto;
  width: 100px;
  font-size: medium;
  color: white;
  transition: background-color 0.5s ease-out;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 10px;
}

.link-as-button,
.link-as-button:active,
.link-as-button:focus {
  text-decoration: none;
  display: block;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.button:hover {
  background-color: #696969;
  transition: background-color 0.5s ease-out;
}

.add-button {
  background-color: green;
}

.cancel-button {
  background-color: red;
}

.delete-button {
  background-color: orange;
}

.info-button {
  background-color: #03b6fc;
}

.modal-header {
  position: relative;
  background-color: #f5f5f0;
  width: 90%;
  font-size: large;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ebebe0;
}

.modal-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.modal-row {
  margin-top: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-input {
  border-radius: 5px;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

.modal-label {
  width: 100%;
}

.validator-message {
  color: red;
}

.first-row {
  grid-row: 1;
}

.f-column {
  grid-column: 1;
}

.s-column {
  grid-column: 2;
}

.t-column {
  grid-column: 3;
}

.second-row {
  grid-row: 2;
}

.third-row {
  grid-row: 3;
}

.fourth-row {
  grid-row: 4;
}

.fifth-row {
  grid-row: 5;
}

.sixth-row {
  grid-row: 6;
}

.seventh-row {
  grid-row: 7;
}
