.delete-container {
  position: relative;
  margin: 10px;
  top: 30%;
  text-align: center;
}

.delete-container button {
  border-radius: 5px;
  width: 100px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 10px;
  height: 40px;
}
